SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/livegate_java?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=livegate
SPRING_DATASOURCE_PASSWORD=livegate
INTERNAL_API_KEY=livegate-internal-key
PLATFORM_COMMISSION_RATE=0.20
CREATOR_SHARE_RATE=0.80
PAYOUT_HOLD_DAYS=7

